.cart-page tr td{
    margin: 20px;
}
.cart-page{
    width: 100%;
}

.cart-page th{
    text-align: left;
}

.cart-page {
  border-collapse: collapse;
}

.cart-page tbody {
  border-top: 40px solid white;
}
a:hover {
    text-decoration: none;
}

a{
    color: #333;
    cursor: pointer;
}
.border-dark-button a:hover{
    color: #fff !important;
    
}
.icons li a svg{
    margin-top: -20px;
    
}